  html{
  	background-color: #EFEFEB;
  	font-family: Arial;
  }
  
  body{
  	font-size: 14px;
  }
  select {
  	width: 300px;
  	height:40px;
  	padding: 10px;
  	border-style: none;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }

  table {
  	background-color: white;
  	width: 960px;
  	height: 900px;
  	font-size: 12px;
  	border-collapse: collapse;
  	border-radius: 2px;
  	padding: 0px;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }

  td {
  	border: solid 1px #f2f2f2;
  	padding: 0px;
  }

 .available {
 	background-color: #cccccc;
 }
 .taken {
 	background-color: #944D94;
 }
 .available:hover, .taken:hover {
 	cursor: pointer;
 }

  
  #page-content {
  	width: 960px;
  	height: 1000px;
  	margin: auto;
  }
  #dropdown-menu-container {
  	width: 960px;
  	height: 40px;
  	margin-top: 30px;
  	margin-bottom: 30px;
  }
  #week-select-container {
  	float: right;
  	line-height: 40px;
  	width: 230px;
  	height: 40px;
  	margin-bottom:30px;
  	font-size: 0px;
  }

  .week-nav {
  	text-align: center;

  	padding-top: 0px;
  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }
  #week-name {
  	height:40px;
  	width: 150px;
  	float:left;
  	background-color: white;
  	font-size: 12px;
  }
  #prev-week {
  	width: 40px;
  	height: 40px;
  	float:left;
  	background-color: white;
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	font-size: 12px;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }
  #next-week {
  	width: 40px;
  	height: 40px;
  	float:left;
  	background-color: white;
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
  	font-size: 12px;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }

  #calendar-container {
  	width: 960px;
  	height: 100%;
  	font-size: 0;


  }
  .times-column {
  	margin:0px;
  	display: inline-block;
  	background-color: white;
  	width: 60px;
  	height:690px;
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	float:left;
  	line-height: 30px;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }
  .hour {
  	color: black;
  	font-size: 12px;
  	text-align: center;
  	width: 60px;
  	height: 60px;
  	/*border: solid 1px #bdbdbd;*/
  	border-radius: 2px;
  }
  .day-column {
  	margin:0px;
  	display: inline-block;
  	background-color: white;
  	width: 180px;
  	height: 690px;
  	float:left;
  	line-height: 30px;
  	border-width: 0;

  	z-index: 1;
	-moz-box-shadow:    0px 2px 2px 0px #bdbdbd;
  	-webkit-box-shadow: 0px 2px 2px 0px #bdbdbd;
  	box-shadow:         0px 2px 2px 0px #bdbdbd;
  	position:relative;
  }
  .half-hour {
  	color: black;
  	font-size: 12px;
  	text-align: center;
  	width: 100%;
  	height: 30px;

  	/*border: solid 1px #bdbdbd;*/
  	border-radius: 2px;

  }
  
  .time-column-name {
  	background-color: #944D94;
  	color: white;
  	font-size:12px;
  	text-align: center;
  	width: 60px;
  	height:30px;
  	
  }
  .day-column-name {
  	background-color: #944D94;
  	color: white;
  	font-size:12px;
  	text-align: center;
  	width: 180px;
  	height:30px;
	border-right: 1px solid white;
  	
  }
  

  #monday {

  }
  #tuesday {

  }
  #wednesday {

  }
  #thursday{

  }
  #friday{
  	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
  }